.app-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.app-container {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .app-container {
    width: 100%;
  }
}
